<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Build Routine</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                <label for="title" class="form-label">Select Exercise</label>
                <input type="text" class="form-control" list="datalistOptions" id="title" name="title" placeholder="Find Exercise...">
                <datalist id="datalistOptions">
                  <option value="Bench Press">
                  <option value="Dumbell Press">
                  <option value="Dumbell Flyes">
                  <option value="Incline Dumbell Press">
                  <option value="Barbell Overhead Press">
                  <option value="Pullup">
                  <option value="Chest Supported Row">
                  <option value="Dumbell Lateral Raise">
                  <option value="Barbell Row">
                  <option value="One Arm Row">
                  <option value="Shoulder Press">
                  <option value="Arnold Press">
                  <option value="Lat Pulldown">
                  <option value="Pushup">
                  <option value="Back Squat">
                  <option value="Deadlift">
                  <option value="Hip Thrust">
                  <option value="Leg Extension">
                  <option value="Prone Leg Curl">
                  <option value="Walking Lunge">
                  <option value="Bulgarian Split Squat">
                  <option value="Hamstring March">
                  <option value="Goblet Squat">
                  <option value="Calf Raise">
                  <option value="Bicep Curl">
                  <option value="Hammer Curl">
                  <option value="Rope Pulldown">
                  <option value="Overhead Tricep Extension">
                  <option value="EZ bar Curl">
                  <option value="Sit ups">
                  <option value="Russian Twist">
                </datalist>
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Add Instructions</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              
              <span>Set 1</span>
              <div class="input-group">
                <span class="input-group-text">Weight (kg)</span>
                <input type="number" aria-label="Weight" class="form-control" id="setweight1" name="setweight1">
                <span class="input-group-text">Reps</span>
                <input type="number" aria-label="Reps" class="form-control" id="reps1" name="reps1">
              </div>
              <span>Set 2</span>
              <div class="input-group">
                <span class="input-group-text">Weight (kg)</span>
                <input type="number" aria-label="Weight" class="form-control" id="setweight2" name="setweight2">
                <span class="input-group-text">Reps</span>
                <input type="number" aria-label="Reps" class="form-control" id="reps2" name="reps2">
              </div>
              <span>Set 3</span>
              <div class="input-group">
                <span class="input-group-text">Weight (kg)</span>
                <input type="number" aria-label="Weight" class="form-control" id="setweight3" name="setweight3">
                <span class="input-group-text">Reps</span>
                <input type="number" aria-label="Reps" class="form-control" id="reps3" name="reps3">
              </div>
              <span>Set 4</span>
              <div class="input-group">
                <span class="input-group-text">Weight (kg)</span>
                <input type="number" aria-label="Weight" class="form-control" id="setweight4" name="setweight4">
                <span class="input-group-text">Reps</span>
                <input type="number" aria-label="Reps" class="form-control" id="reps4" name="reps4">
              </div>

            
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <div class="submitbut">
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </div>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>